<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="learnmodules_uitest_post_grid" xsi:type="string">Learnmodules\UiGridModule\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Learnmodules\UiGridModule\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">learn_uitest_post</argument>
            <argument name="resourceModel" xsi:type="string">Learnmodules\UiGridModule\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>

    <virtualType name="Learnmodules\UiGridModule\Model\ResourceModel\Post\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">learn_uitest_post</argument>
            <argument name="eventPrefix" xsi:type="string">learn_uitest_post_collection</argument>
            <argument name="eventObject" xsi:type="string">learn_uitest_post_collection</argument>
            <argument name="resourceModel" xsi:type="string">Learnmodules\UiGridModule\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
</config>